@import "../../../styles/styles";

.users__wrapper{
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.users__wrapperBtn{
  text-align: center;
  &_btn{
    padding: 4px 19px;
    background: $primary-color;
    border-radius: 80px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
}