
//variables color
$primary-color: rgba(244 224 65);
$secondary-color: rgba(0 189 211);
$background-color: rgba(248 248 248);
$while: #ffffff;
$color-form: #7E7E7E;
$color-error: #CB3D40;;
$black-color: rgba(0, 0, 0, 0.87)