.form__wrapper{
  text-align: center;
  &_input{
    display: block;
    padding-left: 15px;
    width: 380px;
    min-height: 50px;
    margin:0 auto 50px;
  }
  &_checkBox{
    max-width: 380px;
    margin: 0 auto;
    text-align: start;
  }
}
.form__input_title{
  margin-bottom: 14px;
}
.form__label_checkBox{
  display: block;
}.form__input_checkBox{
   margin-right: 12px;
 }

// style input file
.label {
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  display: inline-block;
  text-align: left;
  padding: 10px 0;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

// error input style
.form__input_error {
  border: 1px solid red;
}

.label > [type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.label > .button {
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  padding: 15px;
}

.label > .labelTwo {
  margin-left: 16px;
  color: #333;
  white-space: nowrap;
  opacity: .7;
  font-size: 13px;
}