@import './assets/normalize.css';

body {
  margin: 0;
  background: $background-color;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

//variables color
$primary-color: rgba(244 224 65);
$secondary-color: rgba(0 189 211);
$background-color: rgba(248 248 248);
